@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-primary: "Poppins", sans-serif;
}

body {
  font-family: var(--font-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
}

.main-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

#daftarlaporan {
  scroll-margin-top: 100px; /* Sesuaikan jarak sesuai kebutuhan */
}

.navbar {
  width: min-content;
  margin: 10px auto;
  display: flex;
  flex-direction: row;
}
.nav-btn {
  margin: 0px 10px;
}

form {
  min-width: min-content;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
}

.textBox {
  min-width: 30vw;
  max-width: 60vw;
  min-height: 100px;
  field-sizing: content;
  margin: 10px auto;
  font-size: 15px;
  border: 1px solid lightgray;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.Heading {
  margin: 10px auto;
}
.description {
  margin: 5px auto;
}
